{% load staticfiles %}
<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/ownercss.css' %}">
        <script src="{% static 'javascript/script.js' %}"></script>
    </head>
    <body>
        <div class="header">
            <span class="logo">Bookmarks</span>
            {% if request.user.is_authenticated %}
            <ul class='menu'>
                <li {% ifequal section "dashboard" %}class="selected"{% endifequal %}>
                    <a href="{% url 'dashboard' %}">My dashboard</a>
                  </li>
                <li {% ifequal section "images" %} class="selected"{% endifequal %}>
                    <a href="#">Images</a>
                </li>                
                <li {% ifequal section "people" %} class="selected"{% endifequal %}>
                    <a href="#">People</a>
                </li>                
            </ul>
            {% endif %}

            <span class="user">
                {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Log-in</a>
                {% endif %}
            </span>
        </div>
        {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class='close'>x</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
  //  $(document).ready(function(){

     //  });
  </script>
        {% block domready %}
        {% endblock %}
    </body>
</html>